:root {
    --AzulEsverdiado: darkcyan;
    --AzulEsverdiadoEvento: rgb(0, 98, 98);
}

#Cadastro {
    border: 1px gray solid;
    width: 40rem;
    max-width: 90%;
    margin: 0 auto;    
    background-color: white;
    border-radius: 1rem; /* 10px */
}

h3 {
    height: 1rem; /* 10px */
    margin: 2.5rem; /* 25px */
    text-align: center;
    color: var(--AzulEsverdiado);
    transition: 1s all ease;
    font-size: 2.4rem; /* 24px */
}

h3:hover {
    transform: scale(1.05);   
}

h3::after {
    content: "";
    display: block;
    width: 0;
    height: 0.3rem; /* 3px */
    background-color: var(--AzulEsverdiado);
    margin: 0.8rem auto 0 auto; /* 8px */
    border-radius: 0.2rem; /* 2px */
    transition: 0.5s all ease-in-out;
}

h3:hover::after {
    width: 10rem; /* 100px */
    height: 0.2rem; /* 2px */
    transition: 0.5s all ease-in-out;
}

h4 {
    height: 1rem; /* 10px */
    margin: 2.5rem; /* 25px */
    text-align: center;
    color: var(--AzulEsverdiado);
    transition: 1s all ease;
    font-size: 2rem; /* 20px */
}

h4:hover {
    transform: scale(1.05);  
}

h4::after {
     content: "";
    display: block;
    width: 0;
    height: 0.3rem; /* 3px */
    background-color: var(--AzulEsverdiado);
    margin: 0.8rem auto 0 auto; /* 8px */
    border-radius: 0.2rem; /* 2px */
    transition: 0.5s all ease-in-out;
}

h4:hover::after {
     width: 7.5rem; /* 75px */
    height: 0.2rem; /* 2px */
    transition: 0.5s all ease-in-out;
}

#fotoUsuario {
    width: 10rem; /* 100px */
    height: 10rem; /* 100px */
    display: block;
    margin: 0 auto;
}

img:hover {
    transform: scale(1.10); 
    transition: 1s all ease;
}

label {
    display: block;
    width: 80%;
    margin: 1rem auto; /* 10px */
    opacity: 0.5;
}
input {   
    width: 100%;
}

#fraseLogin {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem; /* 12px */
    opacity: 0.8;
    text-align: end;
}

a {
    width: 20%;
    margin: 1rem auto; /* 10px */
    font-size: 1.2rem; /* 12px */
    text-align: end;
    opacity: 0.8;
}

#botoes {
    width: 100%;
    text-align: center;
}

/* Estilos base para TODOS os botões */
#botaoBloqueado,
#botaoDesativado,
#botaoAtivado {
    margin: 1.4rem auto; /* 14px */
    padding: 1rem; /* 10px */
    width: 80%;
    border: none;
    color: white;
    border-radius: 1rem; /* 10px */
    transition: 0.8s;
}

/* Estilos específicos */
#botaoBloqueado {
    background-color: rgb(150, 149, 149);
    pointer-events: none;
}

#botaoDesativado {
    background-color: var(--AzulEsverdiado);
    cursor: pointer;
}

#botaoDesativado:hover {
    transform: scale(1.05); 
    transition: 1s all ease;
}

#botaoAtivado {
    background-color: var(--AzulEsverdiadoEvento);
    cursor: pointer;
}

#botaoAtivado:hover {
    transition: 1s all ease;
}

#mensagemErro {
    width: 80%;
    margin: 0 auto 1rem auto;
    min-height: 2rem; 
}

.textoErro {
    margin: 0;
    font-size: 1.4rem;
    color: crimson;
}

#Verificado {
    width: 2.5rem;
    height: 2.5rem; 
}